* {
    margin: 0;
    padding: 0;
}

.page_wrap {
    height: 669px;
    min-width: 1349px;
    background-color: #EFF0F6;
    margin: 0 auto;
}

.login_menubar {
    height: 82px;
    min-width: 1349px;
    background: #3D5B99;
}

.login_menubar_container {
    height: 78px;
    width: 980px;
    margin: auto;
}

.logo_area {
    height: 33px;
    width: 170px;
    float: left;
    margin-top: 28px;
}

.login_area {
    height: 65px;
    width: 392px;
    float: right;
    margin-top: 15px;
}

.form_group_email_or_phone input {
    width: 150px;
    height: 20px;
    border: 1px solid black;
}

.form_group_email_or_phone label {
    color: #fff;
    font-weight: normal;
    padding-left: 1px;
}

.form_group_password_1 input {
    margin-left: 24px;
    width: 150px;
    height: 20px;
    border: 1px solid black;
}

.form_group_password_1 label {
    color: #fff;
    font-weight: normal;
    padding-left: 1px;
    margin-left: 24px;
}

p#forgotten_account a {
    padding-right: 50px;
    text-decoration: none;
    color: #9cb4d8;
    font-size: 14px;
}

.sign_in_submit {
    padding-top: 20px;
    padding-right: 10px;
    height: 24px;
    width: 50px;
}

.main_body {
    height: 587px;
    width: 980px;
    margin: 0 auto;
}

.connected_people_picture_and_motoline {
    float: left;
    height: 297px;
    width: 580px;
    margin-top: 20px;
}

.connected_div {
    height: 58px;
    width: 450px;
}

.connected_people_picture_and_motoline p {
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    color: #0e385f;
    line-height: 29px;
    margin-top: 20px;
    word-spacing: -1px;
    padding-left: -20px;
}

.connected_people_picture_and_motoline img {
    margin-top: 20px;
}


}
.sign_in_input {
    float: left;
}
.form_group_email_or_phone {
    float: left;
}
.form_group_password_1 {
    float: right;
}
p#forgotten_account {
    float: right;
}
.sign_in_submit {
    float: right;
}
.account_creation {
    height: 474px;
    width: 400px;
    float: right;
}
.account_creation_motoline {
    height: 78px;
    width: 400px;
}
.heading_one_div {
    height: 48px;
    width: 400px;
    margin-bottom: 5px;
}
.heading_one_div p#heading_one {
    font-size: 36px;
    font-weight: bold;
    font-family: inherit;
    color: #333333;
    padding-top: 5px;
    word-spacing: 2px;
    letter-spacing: 1px;
}
p#heading_one {
    font-family: inherit;
    font-size: 36px;
    color: #333333;
    font-weight: bold;
}
.heading_two_div {
    height: 30px;
    width: 400px;
}
p#heading_two {
    font-family: inherit;
    font-size: 19px;
    color: #1d2129;
    font-weight: normal;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.form_box {
    height: 400px;
    width: 400px;
    padding-top: 20px;
}
.footer {
    clear: both;
    height: 196px;
    min-width: 1349px;
    background: white;
}
.inputtext {
    border-color: #1d2a5b;
    margin: 0;
    width: 142px;
    padding-bottom: 4px;
    border: 1px solid #bdc7d8;
    margin: 0;
    padding: 3px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
body {
    background: #fff;
    color: #1d2129;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.login-inputs {
    padding-bottom: 4px;
    color: #fff;
    font-weight: normal;
}
table tr td {
    padding: 0 0 0 14px;
}
#login-button {
    border: 1px solid #ced0d4;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 18px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    vertical-align: top;
    white-space: nowrap;
    font-family: inherit;
    letter-spacing: inherit;
    background-color: #4267b2;
    border-color: #29487d;
    color: #fff;
}
.login_form_label_field a {
    color: #9cb4d8;
    font-weight: normal;
}
a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
}
.inputtext {
    border-color: #1d2a5b;
    margin: 0;
    width: 142px;
}
td,
td.label {
    text-align: left;
}
.login_form_label_field {
    padding-top: 4px;
}
.register-text {
    font-size: 18px;
    padding: 8px 10px;
    width: 172px;
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    border: 1px solid #bdc7d8;
}
.full-width-text {
    width: 377px;
}
.register-form-group-container {
    margin-bottom: 10px;
}
.create-button {
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    line-height: 126%;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    text-rendering: optimizelegibility;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    font-size: 19px;
}
#birthday_reasons {
    display: inline-block;
    font-size: 11px;
    max-width: 150px;
}

select {
    font-size: 13px;
    height: 30px;
    padding: 5px;
}

.form_group_birthday {
    margin-top: 15px;
}

.form_group_birthday label
{
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
}

.form_group_gender {
    margin-top: 15px;
        color: #1d2129;
        font-size: 18px;
        font-weight: normal;
    }
    input[type="radio"]{
        margin: 0 10px 0 10px;
      }

.account_creation_policyy {
    height: 56px;
    width: 316px;
    
}

.account_creation_policyy p#account_creation_policy {
color: #777;
font-size: 11px;
margin-top: 15px;
width: 316px;

}

.form_group_submit {
    margin-top: 15px;
}

p#page_creation   {
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
}